:root {
    --size:50px;
    --color: grey;
}

@font-face {
    font-family: C64;
    src: url("fonts/C64_Pro_Mono-STYLE.otf");
}

* {
    font-family: C64;
}

/* Elements */

table {
    background-color: black;
    border: 2px solid black;
}

td {
    background-color: white;
    height: var(--size);
    width: var(--size);
}

button {
    color: black;
    appearance: none;
    border: 3px solid black;
    padding: 4px;
}

input[type = "checkbox"] {
    appearance: none;
    background-color: white;
    border: 2px solid black;
    width: 30px;
    height: 30px;
}

#preserve:checked {
    background-color: black;
}

/* Classes */

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.filled {
    background-color: var(--color);
}

.options {
    display: flex;
    flex-direction: column;
    background-color: grey;
    width: 180px;
    height: 100%;
    margin-left: 5px;
    margin-right: 20px;
    padding: 6px;
    gap: 16px;
    border: 3px solid black;
    border-radius: 5px;
}

.option {
    gap: 6px;
}